layout: base.html.twig
---
<div class="content">
    <div class="page-header">
    </div>
    <div class="row">
        <div class="span10">
            <h2>Main content</h2>

            <div class="clearfix" style="height:50px;"></div>
        </div>
        <div class="span4">
            <h3>Secondary content</h3>
        </div>
    </div>
</div>
