<!DOCTYPE html>
<html lang="en">

<head>
  <!-- whoami: 
    Brian Graham (Incognito)
    @BrianJGraham
  -->
  <meta charset="utf-8" />
  <title>{% block headtitle %}Incognito Blog{% endblock %}</title>

  <link rel="stylesheet" href="/bundles/incognitoblogblogbundle/css/styles.css" type="text/css" />

</head>

<body>
  {% block body %}{% endblock body %}

  {% block javascripts %}{{ content }}{% endblock javascripts %}

  {# include 'adsense.html.twig' #}

  </body>
</html>
